body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 37, 37);
  height: 100vh;
  margin: 0;
}
.home_container{
  background-color: rgb(254, 254, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 40px;
  box-shadow: 3px 3px 2px rgb(187, 182, 182);
  border: 1px #454543;
}
.header_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 77, 77);
}
.header_container > h1{
  margin: 0;
}
.header_container > span{
  opacity: 0.8;
  color: #0ec4f1;
}

.form{
  background-color: rgb(254, 254, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  box-shadow: 3px 3px 2px rgb(187, 182, 182);
  border: 1px #454543;
}
.form > input{
  outline: none;
  padding: 5px;
}
.form > label{
  margin: 10px;
}
.form > button{
  width: 150px;
  margin-top: 20px;
  border-radius: 20px;
  background-color: #a5cbf0;
  color: rgb(7, 0, 0);
  padding: 5px;
  cursor: pointer;
  outline: none;
  border: 1px solid #454543;
}
.profile_form{
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 40px;
  border: 1px solid #454543;
}
.profile_form > label {
  margin-top: 10px;
  margin-bottom: 5px;
}
.profile_form > input{
  outline: none;
  
}
.profile_form > button {
  margin-top: 10px;
}
.profile_container{
  position:absolute;
}
.cross{
  color: white;
}
.profile_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  align-items: center;
  /*border: 1px solid black;*/
 
  margin-bottom: 10px;
}

.edit_form > p{
  margin-top: 5px;
  margin-bottom: 5px;
}
.edit_form > input{
  outline: none;
}

.cancal{
  background-color: rgb(248, 128, 128);
  border: none;
  margin:5px;
  padding: 5px;
  width: 100%;
}
.normal{
  width: 100%;
  margin: 5px;
  background-color: #8ff0f0;
  border: none;
  padding: 5px;
  cursor: pointer;
}